/node_modules
/public
/public/
/public/js
/public/css
/public/img
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env_testing
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
